<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body>
<!--/*@thymesVar id="message" type="com.arhimisha.subjection.domain.Message"*/-->
<!--/*@thymesVar id="currentUser" type="com.arhimisha.subjection.domain.User"*/-->
<div class="justify-content-md-center" data-th-fragment="listOfMessages(messages, currentUser)">
    <div data-th-each="message:${messages}">
        <div class="card border-dark mt-4 mb-4 text-left">
            <div class="container">
                <div class=" align-items-baseline">
                    <div class="row text-left">
                        <h6 class="text-muted ml-2 mt-1 mb-1"
                            style="white-space: pre-wrap"
                            data-th-text="${message.getAuthor()!=null}?${message.getAuthor().getFullName()}:'<Unknown user>'"></h6>
                    </div>
                    <div class="row justify-content-end">
                        <h4 class="col-sm-10 mt-1 mb-4"
                            style="white-space: pre-wrap"
                            data-th-text="${message.getText().trim().length()!=0}?${message.getText()}:'<Without Text>'"></h4>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <span class="align-middle" data-th-text="${message.getCreationDate()!=null}?${#dates.format(message.getCreationDate().getTime(),'hh:mm:ss dd-MM-yyyy')}:'<Unknown date>'"></span>
                    </div>
                    <div data-th-if="${currentUser} and (${currentUser.isAdmin()} or ${currentUser.getId()} == ${message.getAuthor().getId()})">
                        <form id="deleteMessage"
                              data-th-action="@{/message/soft-delete}"
                              method="post">
                            <input type="hidden" name="messageId" data-th-value="${message.getId()}">
                        </form>
                        <button form="deleteMessage" type="submit" class="btn btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>