<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body>
<!--/*@thymesVar id="subject" type="com.arhimisha.intech.domain.Subject"*/-->
<!--/*@thymesVar id="currentUser" type="com.arhimisha.intech.domain.User"*/-->
<div class="justify-content-md-center" data-th-fragment="listOfSubjects(subjects, currentUser)">
    <div data-th-each="subject:${subjects}">
        <div class="card border-dark mt-4 mb-4 text-center">
            <div class="card-header">
                <h3 class="card-title">
                    <a class="text-primary"
                       data-th-href="'/subject/' + ${subject.getId()}"
                       data-th-text="${subject.getName()}"></a>
                </h3>
                <h6 class="card-subtitle text-muted">
                    <span data-th-text="${subject.getAuthor()!=null}?${subject.getAuthor().getFullName()}:'<Unknown user>'"></span>
                    <span> (</span>
                    <span data-th-text="${subject.getCreationDate()!=null}?${#dates.format(subject.getCreationDate().getTime(),'hh:mm:ss dd-MM-yyyy')}:'<Unknown date>'"></span>
                    <span>)</span>
                </h6>
            </div>
            <div>
                <h5 class="font-italic mt-5 mb-5"
                    style="white-space: pre-wrap"
                    data-th-text="${subject.getDescription().trim().length()!=0}?${subject.getDescription()}:'<Without description>'"></h5>
            </div>
            <div class="card-footer text-muted">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <span class="align-middle">Last update: </span>
                        <span class="align-middle">In development</span>
                    </div>
                    <div data-th-if="${currentUser} and (${currentUser.isAdmin()} or ${currentUser.getId()} == ${subject.getAuthor().getId()})">
                        <form id="deleteSubject"
                              data-th-action="@{/subject/soft-delete}"
                              method="post">
                            <input type="hidden" name="subjectId" required="true" data-th-value="${subject.getId()}">
                        </form>
                        <button form="deleteSubject" type="submit" class="btn btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>