<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
    html,
    body {
        height: 100%;
    }
</style>

<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div data-th-replace="~{fragments/navigationBar::bar(currentUser=${currentUser}, search='none')}"></div>

    <main role="main" class="inner cover container">
        <div data-th-if="error">
            [[ ${error} ]]
        </div>
        <h1 class="mb-5 font-weight-normal">Register for subjection subjects</h1>
        <form data-th-action="@{/registration}" method="post">
            <div class="form-group row justify-content-center">
                <label for="Login" class="col-sm-2 col-form-label text-left pl-1">Login</label>
                <div class="col-sm-5 pl-0 pr-0">
                    <input data-th-class="${LoginError}?'form-control is-invalid':'form-control'"
                           id="Login" name="username" type="text" placeholder="Login" required
                           data-th-value="*{registrationDetails}!= null?${registrationDetails.username}:_">
                    <div data-th-if="${LoginError}" class="invalid-feedback text-left pl-1"
                         data-th-text="${LoginError}"></div>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="Password" class="col-sm-2 col-form-label text-left pl-1">Password</label>
                <div class="col-sm-5 pl-0 pr-0">
                    <input data-th-class="(${PasswordConfirmError} or ${PasswordComplianceError})?'form-control is-invalid':'form-control'"
                           id="Password" name="password" type="password" placeholder="Password" required>
                    <small id="passwordHelp" class="form-text text-muted text-left pl-1">At least 8 characters, at least 1 lowercase letter, at least 1 uppercase letter and at least one characters of !@#$%</small>
                    <div data-th-if="${PasswordConfirmError}" class="invalid-feedback text-left pl-1"
                         data-th-text="${PasswordConfirmError}"></div>

                    <div data-th-if="${PasswordComplianceError}" class="invalid-feedback text-left pl-1"
                         data-th-text="${PasswordComplianceError}"></div>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="Confirm" class="col-sm-2 col-form-label text-left pl-1">Confirm</label>
                <div class="col-sm-5 pl-0 pr-0">
                    <input data-th-class="${PasswordConfirmError}?'form-control is-invalid':'form-control'"
                           id="Confirm" name="confirm" type="password" placeholder="Confirm password" required>
                    <div data-th-if="${PasswordConfirmError}" class="invalid-feedback text-left pl-1"
                         data-th-text="${PasswordConfirmError}"></div>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="First name" class="col-sm-2 col-form-label text-left pl-1">First name</label>
                <input class="form-control col-sm-5" id="First name" name="firstName" type="text"
                       placeholder="First name" required
                       data-th-value="*{registrationDetails}!= null?${registrationDetails.firstName}:_">
            </div>
            <div class="form-group row justify-content-center">
                <label for="Last name" class="col-sm-2 col-form-label text-left pl-1">Last name</label>
                <input class="form-control col-sm-5" id="Last name" name="lastName" type="text" placeholder="Last name"
                       required
                       data-th-value="*{registrationDetails}!= null?${registrationDetails.lastName}:_">
            </div>
            <div class="form-group row justify-content-center">
                <label for="Email" class="col-sm-2 col-form-label text-left pl-1">Email</label>
                <div class="col-sm-5 pl-0 pr-0">
                    <input data-th-class="${EmailError}?'form-control is-invalid':'form-control'"
                            id="Email" name="email" type="email" placeholder="email@email.com" required
                           data-th-value="*{registrationDetails}!= null?${registrationDetails.email}:_">
                    <div data-th-if="${EmailError}" class="invalid-feedback text-left pl-1"
                         data-th-text="${EmailError}"></div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button class="col-7 btn btn-lg btn-dark btn-block" type="submit">Registration</button>
            </div>
        </form>
        <br>
    </main>

    <div data-th-replace="~{fragments/footer::footer}"></div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>