<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Subject</title>
</head>
<body>
<h1>Subject</h1>
<div>Name: <span data-th-text="${name}"></span></div>
<div>Description: <span data-th-text="${description}"></span></div>
<div>Author: <span data-th-text="${author}"></span></div>
<div>CreationDate: <span data-th-text="${creationDate}"></span></div>
</body>
</html>