<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Subject</title>
</head>
<body>
<h1>Subject</h1>
<div>Name: <span data-th-text="${subject.getName()}"></span></div>
<div>Description: <span data-th-text="${subject.getDescription()}"></span></div>
<div>Author:
    <span data-th-text="${subject.getAuthor()!=null}?${subject.getAuthor().getFullName()}:'Unknown user'"></span></div>
<div>Creation Date:
    <span data-th-text="${subject.getCreationDate()!=null}?${subject.getCreationDate().getTime()}:'Unknown date'"></span>
</div>
<br>
<br>
<form data-th-action="@{'/subject/' + ${subject.getId()}}" method="post">
    <div hidden="true"><label><input name="pageNumber" required="true" data-th-value="1"> </label></div>
    <div><input type="submit" value="Get second page"></div>
</form>
<br>
<br>
<div data-th-insert="fragments/subjectsMessages::listOfMessages(messages=${messages}, currentUser=${currentUser})"></div>
<br>
<br>
<form data-th-action="@{/message/create}" method="post">
    <div>New message</div>
    <div><label><textarea name="text_message" rows="4" required="true"></textarea></label></div>
    <div hidden="true"><label><input name="subjectId" required="true" data-th-value="${subject.getId()}"> </label></div>
    <div><input type="submit" value="Create"></div>
</form>
</body>
</html>