<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<head>
    <title data-th-text="'Subject ' +${subject.getName()}"></title>
</head>
<body>
<h1>Subject</h1>
<div>Name: <span data-th-text="${subject.getName()}"></span></div>
<div>Description: <span data-th-text="${subject.getDescription()}"></span></div>
<div>Author:
    <span data-th-text="${subject.getAuthor()!=null}?${subject.getAuthor().getFullName()}:'Unknown user'"></span></div>
<div>Creation Date:
    <span data-th-text="${subject.getCreationDate()!=null}?${subject.getCreationDate().getTime()}:'Unknown date'"></span>
</div>
<br>
<br>
<div data-th-insert="~{fragments/pageNavigator::navigator(label='Page navigation for messages',currentPage=${currentPage}, totalPages=${totalPages})}"></div>
<br>
<br>
<div data-th-insert="fragments/subjectsMessages::listOfMessages(messages=${messages}, currentUser=${currentUser})"></div>
<br>
<br>
<form data-th-action="@{/message/create}" method="post">
    <div class="form-group">
        <label for="inputTextMessage"></label>
        <textarea class="form-control" id="inputTextMessage" name="text_message" rows="4" required="true"></textarea>
    </div>
    <div hidden="true"><label><input name="subjectId" required="true" data-th-value="${subject.getId()}"></label></div>
    <button type="submit" class="btn btn-primary">Create new message</button>
</form>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>